*{
    margin: 0;
    padding: 0;
}
.info{
    background-image: url(https://s1.1zoom.me/big0/269/Frankfurt_Germany_Rivers_Bridges_Main_river_Night_582568_1280x720.jpg);
    background-size: 100%;
    height: 500px;
    margin-bottom: 50px;
}
.info1{
    text-align: right;
    margin-right: 20px;
    margin-left: 700px;
    color: white;
    margin-top: 200px;
    position: absolute;
}
.cross{
    position: absolute;
    margin-left: 1250px;
    margin-top: 150px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
strong{
    color: greenyellow;
}
.btn-check{
    position: absolute;
    margin-top: 300px;
}
.btn-success{
    position: absolute;
    margin-top: 300px;
    margin-left: 1250px;
}
.btn-outline-secondary{
    position: absolute;
    margin-top: 300px;
    margin-left: 1050px;
}
.js{
    background-color: rgb(236, 236, 27);
    color: black;
    border-radius: 6px;
    margin-left: 40px;
    margin-top: 20px;
}
.imgo1{
    width: 200px;
    margin-left: 20px;
}
.orador1{
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    border: black solid 2px;
    width: 250px;
}
.css{
    background-color: rgb(27, 117, 236);
    color: black;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
}
.infor1{
    text-align: center;
    margin-top: 10px;
}
.orador2{
    position: absolute;
    margin-left: 600px;
    margin-top: 50px;
    border: black solid 2px;
    width: 250px;
}
.orador3{
    position: absolute;
    margin-left: 1100px;
    margin-top: 50px;
    border: black solid 2px;
    width: 250px;
}
.cal{
    text-align: center;
    margin-left: 680px;
}
.title2{
    text-align: 650px;
    text-align: center;
}
.img1{
    margin-top: 600px;
    position: absolute;
}
.honolulu{
    margin-top: 608px;
    margin-left: 500px;
    height: 324px;
    background-color: #343A40;
    color: white;
}
.infohono, .honotitle{
    margin-left: 10px;
}
.needs-validation{
    margin-top: 20px;
    margin-bottom: 50px;
}
.button3{
    width: 710px;
    background-color: rgb(69, 128, 11);
    border: rgb(69, 128, 11);
}
.button3:hover{
    background-color: rgb(98, 184, 12);
}
.buttonsec{
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 1px;
}
.buttonsec:hover{
    background-color: grey;
    border: grey solid 1px;
}
.footer-basic {
    padding:40px 0;
    background-color:rgb(71, 71, 71);
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
    color: white;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  } 
  .icon{
      color: white;
  }
  .form{
      margin-left: 400px;
  }